/*
    Document   : music.css
    Created on : 2015-03-10 06:44 PM
    Author     : smosh
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}